---
name: CI

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8.0, 3.8.2, 3.8.3, 3.9]
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        make init
    - name: Lint
      run: |
        make lint
    - name: Type checking with mypy
      run: |
        make typing
    - name: Test coverage
      run: |
        make coverage
    - uses: codecov/codecov-action@v1.3.2
      with:
        token: ${{secrets.CODECOV}}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    needs:
      - build
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Python Semantic Release
        uses: relekang/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pypi_token: ${{ secrets.PYPI_TOKEN }}
